DB_HOST=mysql-example.aivencloud.com
DB_USER=example-user
DB_PASSWORD=replace-me
DB_NAME=example-database
DB_PORT=12345
PORT=3315
JWT_SECRET=replace-with-a-long-random-value
DB_CA_PATH=C:\DportiiSecrets\ca.pem
